<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/admin/menu.css">
    <link rel="stylesheet" href="../../resources/css/admin/categorias.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="menu"></div>
            <main class="col-lg-10 col-md-9">
                <div class="sizebox222"></div>

                <div class="navbarGamas"></div>
                <div class="sizebox"></div>
                <div id="categorias-page">
                    <div class="color">
                        <div class="sizebox1"></div>
                        <div class="container text-right">
                            <h2>Categorias</h2>
                        </div>

                        <div class="input-group mb-3 txt-buscar">
                            <input type="email" class="form-control focus" placeholder="Buscar" aria-label="Buscar"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent border-0 buscar">
                                    <img src="../../resources/img/buscar 1.png" alt="" class="search-icon">
                                </span>
                            </div>
                        </div>

                        <div class="sizebox1"></div>

                        <div class="container text-right">
                            <button type="button" class="btn btn-dark" onclick="AbrirAgregar()"><i
                                    class="fas fa-plus"></i> </button>
                        </div>
                        <div class="sizebox"></div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tablaBody">
                                <!-- Las categorías se llenarán dinámicamente aquí -->
                            </tbody>
                        </table>


                        <!-- Crear Modal -->
                        <div class="modal fade" id="marcaModal" tabindex="-1" role="dialog"
                            aria-labelledby="marcaModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header custom-modal-header">
                                        <h5 class="modal-title text-center" id="marcaModalLabel" style="width: 100%;">
                                            Crear Categoria
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text nombre"><i class="fas fa-tag"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Nombre de la Categoria"
                                                id="nombreCategoria">
                                        </div>

                                        <div class="custom-file mb-3">
                                            <input type="file" class="custom-file-input txti" id="imagen_agregar">
                                            <label class="custom-file-label txti" for="imagen_agregar">Seleccionar
                                                imagen</label>
                                        </div>
                                        <img src="" class="preview-image" id="imagenPreview"
                                            alt="Vista previa de la imagen">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i
                                                class="fas fa-times"></i>
                                        </button>
                                        <button type="button" class="btn btn-dark" id="agregarCategoriaBtn"><i
                                                class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal de eliminar -->
                        <div class="modal fade" id="eliminar" tabindex="-1" role="dialog"
                            aria-labelledby="marcaModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form>
                                            <img src="" class="preview-image" id="imagenPreview"
                                                alt="Vista previa de la imagen">
                                            <div class="text-center mt-3">
                                                <i class="bi bi-exclamation-triangle-fill"
                                                    style="font-size: 3.5rem; color: black;"></i>
                                                <p class="mt-3" style="font-size: 1.5rem;">Advertencia</p>
                                                <p>¿Desea eliminar el registro?</p>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button type="button" class="btn btn-dark mr-2 botn"
                                                        data-dismiss="modal">No</button>
                                                    <button type="button" class="btn btn-dark botn"
                                                        id="confirmarEliminar">Sí</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal de actualizar -->
                        <div class="modal fade" id="actualizar" tabindex="-1" role="dialog"
                            aria-labelledby="marcaModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header custom-modal-header">
                                        <h5 class="modal-title text-center" id="marcaModalLabel" style="width: 100%;">
                                            Actualizar
                                            Categoria
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text nombre"><i class="fas fa-tag"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Nombre de la Categoria"
                                                id="nombreCategoriaActuaizar">
                                        </div>

                                        <div class="custom-file mb-3">
                                            <input type="file" class="custom-file-input" id="imagen_actualizar">
                                            <label class="custom-file-label" for="imagen_actualizar">Seleccionar
                                                imagen</label>
                                        </div>
                                        <img src="" class="preview-image imagede" id="imagenPreview"
                                            alt="Vista previa de la imagen" style="display: none;">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i
                                                class="fas fa-times"></i>
                                        </button>
                                        <button type="button" class="btn btn-dark" id="confirmarActualizar"><i
                                                class="fas fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal para confirmar agregado exitoso -->
                        <div class="modal fade" id="agregado" tabindex="-1" role="dialog"
                            aria-labelledby="marcaModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form>
                                            <img src="" class="preview-image" id="imagenPreview"
                                                alt="Vista previa de la imagen" style="display: none;">
                                            <div class="text-center mt-3">
                                                <i class="bi bi-check-circle"
                                                    style="font-size: 3.5rem; color: black;"></i>
                                                <p class="mt-3" style="font-size: 1.5rem;">Éxito</p>
                                                <p>Se ha enviando correctamente</p>
                                                <button type="button" class="btn btn-dark botn"
                                                    data-dismiss="modal">Aceptar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal para mostrar mensaje de error -->
                        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
                            aria-labelledby="errorModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <i class="bi bi-exclamation-triangle-fill text-danger"
                                            style="font-size: 5rem;"></i>
                                        <h5 class="mt-3">¡Ups, ocurrió un error!</h5>
                                        <p class="mt-3">Lo sentimos, parece que hubo un error interno. Por favor,
                                            inténtalo de nuevo más
                                            tarde.</p>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal para Validaciones -->
                        <div class="modal fade" id="validationsModal" tabindex="-1" role="dialog"
                            aria-labelledby="errorModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <i class="fas fa-exclamation-circle text-warning" style="font-size: 5rem;"></i>
                                        <h5 class="mt-3">¡Validaciones!</h5>
                                        <p class="mt-3">Por favor, revise las validaciones en los campos.</p>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Modal para confirmar actualización exitosa -->
                        <div class="modal fade" id="acto" tabindex="-1" role="dialog" aria-labelledby="marcaModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form>
                                            <img src="" class="preview-image" id="imagenPreview"
                                                alt="Vista previa de la imagen" style="display: none;">

                                            <div class="text-center mt-3">
                                                <i class="bi bi-check-circle"
                                                    style="font-size: 3.5rem; color: black;"></i>
                                                <p class="mt-3" style="font-size: 1.5rem;">Éxito</p>
                                                <p>Se ha Actualizado correctamente</p>
                                                <button type="button" class="btn btn-dark botn"
                                                    data-dismiss="modal">Aceptar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="eliminadoExitosoModal" tabindex="-1" role="dialog"
                            aria-labelledby="eliminadoExitosoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form>
                                            <div class="text-center mt-3">
                                                <i class="bi bi-check-circle"
                                                    style="font-size: 3.5rem; color: black;"></i>
                                                <p class="mt-3" style="font-size: 1.5rem;">Éxito</p>
                                                <p>Se ha eliminado correctamente</p>
                                                <button type="button" class="btn btn-dark botn"
                                                    data-dismiss="modal">Aceptar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="../../Controllers/utils/menu.js"></script>
    <script src="../../Controllers/utils/gamamenu.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../resources/js/foto.js"></script>
    <script src="../../Controllers/admin/metodos.js"></script>
    <script src="../../Controllers/utils/Validaciones.js"></script>
    <script src="../../Controllers/admin/categorias.js"></script>

    <script src="../../Controllers/admin/buscador.js"></script>
</body>

</html>