<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../../resources/css/admin/categorias.css">
<div class="color">
    <div class="sizebox1"></div>
    <div class="container text-right" >
       <h2>Marcas</h2>
    </div>
    <div class="input-group mb-3 txt-buscar">
        <input  type="email" class="form-control focus" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text bg-transparent border-0">
                <img src="../../resources/img/buscar 1.png" alt="" class="search-icon">
            </span>
        </div>
    </div>
    
    <div class="sizebox1"></div>
    
    <div class="container text-right" >
        <button type="button" class="btn btn-success">Agregar</button>
    </div>
    <div class="sizebox"></div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ejemplo 1</td>
                <td><img src="imagen1.jpg" alt="Imagen 1" width="50"></td>
                <td>
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>Ejemplo 2</td>
                <td><img src="imagen2.jpg" alt="Imagen 2" width="50"></td>
                <td>
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>