<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../resources/css/admin/dashboard.css">
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-2 bg-light">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li>
                <a class="nav-link" href="#" id="text-tittle">
                  <img src="../../resources/img/icono.png" width="50" height="50" class="d-inline-block align-top"
                      alt="">
                Essenzial
              </a>
              <li>
                <img src="../../resources/img/pp.jpeg" class="img-fluid mx-auto d-block" alt="..." width="100px" height="150px">
              </li>
              <li>
                <div class="text-center">
                  <h5>Alessandro Morales</h5>
                </div>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="../../resources/img/home.png" width="20" height="20" class="d-inline-block align-top"
                      alt="">
                Inicio
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="../../resources/img/gamas.png" width="30" height="30" class="d-inline-block align-top"
                      alt="">
                Gamas 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="../../resources/img/inventario.png" width="30" height="30" class="d-inline-block align-top"
                      alt="">
                  Inventario
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="../../resources/img/pedidos.png" width="30" height="30" class="d-inline-block align-top"
                      alt="">
                  Pedidos
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="../../resources/img/usuarios.png" width="30" height="30" class="d-inline-block align-top"
                      alt="">
                  Usuarios
              </li>
              <li class="nav-item" id="out-item">
                <a class="nav-link" href="#">
                  <img src="../../resources/img/salir.png" width="30" height="30" class="d-inline-block align-top"
                      alt="">
                  Salir
              </li>
            </ul>
          </div>
        </nav>
        
      </div>
    </div>
  </header>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div id="contenido-dinamico">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
  </main>
  <script src="js/dashboard.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>