<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/admin/dashboard.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <main class="container-fluid">
        <div class="row">
                    <div class="col-lg-6">
                        <div class="graficos bg-light">
                            <h4>Marcas más vendidas</h4>
                            <canvas class="donut" id="myChart">

                            </canvas>
                        </div>
                        <div class="graficos bg-light">
                            <h4>Perfumes más vendidos</h4>
                            <canvas class="donut" id="myChart2">

                            </canvas>
                        </div>

                    </div>

                    <div class="col-lg-6 containerPedidos">
                        <div class="container1 bg-light">
                            <h5>Últimos pedidos</h5>

                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>

                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>

                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>

                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>

                            
                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container1 bg-light">
                            <h5>Últimas promociones</h5>

                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>

                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>

                            
                            <div class="align-items-center pedidos">
                                <div class="row">
                                    <div class="col-4">
                                        <p>30/01/24</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Jean Paul Gaultier Le Beau Eau de Parfum Intense</p>
                                    </div>
                                    <div class="col-2"><img src="../../resources/img/perfume.png" class="imagen"
                                            width="50px" height="50px" alt="" srcset=""></div>
                                    <div class="col-1 cantidad">10</div>
                                </div>
                            </div>
                        </div>
                        <div class="graficos3 bg-light">
                            <h4>Ventas en los últimos meses</h4>
                            <canvas class="donut" id="myChart3">

                            </canvas>
                        </div>
                    </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../../Controllers/graficos.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>