<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../../resources/css/admin/gamas.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light subnav">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showContent('marcas')">Marcas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showContent('olores')">Olores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showContent('categorias')">Categorías</a>
            </li>
        </ul>
    </div>
</nav>
<div class="sizebox "></div>
<iframe id="content" class="dynamic-iframe "></iframe>
</main>
</div>
</div>
<script src="../../resources/js/gamas.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>