<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/admin/log_privado.css">
</head>

<body>
    <main>
        <div class="container-fluid h-100 d-inline-block">
            <div class="row ">
                <div class="col  fondo">
                </div>
                <div class="col contenedorlog">
                    <h1 class="fw-bold pt-5 mb-3 lb-Bienvenido"> Bienvenido</h1>
                    <!--pt = padding top mb = margin top -->
                    <p class="lb-Ingresar">¡Bienvenido de vuelta! <br>
                        Por favor ingrese con su cuenta </p>
                    <!--Login-->
                    <form action="#" class="">
                        <div class="mb-4"><!--MB= Margin top-->
                            <label for="email" class="form-label lb-correo">Correo Electroinico</label>
                            <input type="email" class="form-control txt-correo " name="Correo">
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label lb-clave">Clave</label>
                            <input type="password" class="form-control txt-clave" name="Clave">
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark btn-ingresar">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>