<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<!-- Modal -->
<div>
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="modalTitle text-center">Ver perfume</h3>
            </div>
            <div class="modal-body row g-3">
                <div class="col-ms-12 col-md-6">
                    <label for="nombreProducto" class="form-label" style="font-weight: bold;">Nombre del perfume</label>
                    <p>Stronger with u</p>
                </div>
                <div class="col-ms-12 col-md-6">
                    <label for="nombreProducto" class="form-label" style="font-weight: bold;">Descuento</label>
                    <p>15%</p>
                </div>
                <div class="col-ms-12 col-md-6">
                    <label for="nombreProducto" class="form-label" style="font-weight: bold;">Precio</label>
                    <p>$250.98</p>
                </div>
                <div class="col-ms-12 col-md-6">
                    <label for="nombreProducto" class="form-label" style="font-weight: bold;">Descripción</label>
                    <p>El perfume Strong es el mas vendido a nivel mundial</p>
                </div>
                <div class="col-ms-12 col-md-12">
                    <label for="nombreProducto" class="form-label" style="font-weight: bold;">Imagen</label>
                    <img src="../../resources/img/perfumeString.png" class="rounded mx-auto d-block" alt="...">
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>