<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../../resources/css/admin/inventario.css">
<link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
<div class="sizebox"></div>
<div class="color">
    <div class="sizebox1"></div>
    <div class="container text-right">
        <h2>Inventario</h2>
    </div>
    <div class="input-group mb-3 txt-buscar">
        <input type="email" class="form-control focus" placeholder="Buscar" aria-label="Buscar"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text bg-transparent border-0">
                <img src="../../resources/img/buscar 1.png" alt="" class="search-icon">
            </span>
        </div>
    </div>

    <div class="sizebox1"></div>


    <div class="container text-right">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#guardarModal"><i
                class="fas fa-plus"></i> </button>
    </div>
    <div class="sizebox"></div>

    <!--Tabla de los registros-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ejemplo 1</td>
                <td>$90.00</td>
                <td>
                    <button type="button" class="btn btn-dark"><i class="fa-solid fa-star"></i></button>
                    <button type="button" class="btn btn-dark"><i class="fas fa-edit" data-toggle="modal" data-target="#actualizarModal"></i></button>
                    <button type="button" class="btn btn-dark"><i class="fas fa-trash-alt"></i> </button>
                    <button type="button" class="btn btn-dark"><i class="fas fa-info-circle" data-toggle="modal" data-target="#detallesModal"></i> </i></button>
                </td>
            </tr>
            <tr>
                <td>Ejemplo 2</td>
                <td>$180</td>
                <td>
                    <button type="button" class="btn btn-dark"><i class="fa-solid fa-star"></i></button>
                    <button type="button" class="btn btn-dark"><i class="fas fa-edit" data-toggle="modal" data-target="#actualizarModal"></i></button>
                    <button type="button" class="btn btn-dark"><i class="fas fa-trash-alt"></i> </button>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#detallesModal"><i class="fas fa-info-circle"></i> </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Modal para crear el perfume-->
    <div class="modal fade" id="guardarModal" tabindex="-1" role="dialog" aria-labelledby="guardarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header custom-modal-header">
                    <h5 class="modal-title" id="guardarModalLabel">Crear perfume</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="saveForm">
                        <div class="modal-body">
                            <div class="row">
                                <!--Primera columna-->
                                <div class="col-md-6 col-ms-12">
                                    <input type="hidden" id="idProducto" name="idProducto">
                                    <div>
                                        <label for="nombreProducto" class="form-label">Nombre del perfume</label>
                                        <input id="nombreProducto" type="text" name="nombreProducto"
                                            class="form-control" required>
                                    </div>
                                    <div>

                                    </div>
                                    <div>
                                        <label for="precioProducto" class="form-label">Precio del producto(US$)</label>
                                        <input id="precioProducto" type="number" name="precioProducto" min="0.01"
                                            step="0.01" class="form-control" required>
                                    </div>
                                    <div>
                                        <label for="descripcionProducto" class="form-label">Descripción del
                                            producto</label>
                                        <textarea name="descripcionProducto" id="descripcionProducto"
                                            class="form-control"></textarea>
                                    </div>
                                    <div>
                                        <label for="marcaProducto" class="form-label">Marca</label>
                                        <select class="form-select combobox" aria-label="Default select example">
                                            <option selected>Selecciona una marca</option>
                                            <option value="1">Dior</option>
                                            <option value="2">Calvin Klein</option>
                                        </select>
                                
                                    </div>
                                </div>
                                <!--segunda columna-->
                                <div class="col-md-6 col-ms-12">
                                    <div>
                                        <label for="oloresProducto" class="form-label">Olores</label>
                                        <select class="form-select combobox" aria-label="Default select example">
                                            <option selected>Selecciona una marca</option>
                                            <option value="1">Dior</option>
                                            <option value="2">Calvin Klein</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label for="estadoDescuento" class="form-label">Estado del descuento</label>
                                        <select class="form-select combobox" aria-label="Default select example">
                                            <option selected>Selecciona una marca</option>
                                            <option value="1">Dior</option>
                                            <option value="2">Calvin Klein</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label for="descuentoSeleccionado" class="form-label">Elige el descuento</label>
                                        <select class="form-select combobox" aria-label="Default select example">
                                            <option selected>Selecciona una marca</option>
                                            <option value="1">Dior</option>
                                            <option value="2">Calvin Klein</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="imagenMarca">
                                <label class="custom-file-label" for="imagenMarca">Seleccionar imagen</label>
                            </div>
                            <img src="" class="preview-image" id="imagenPreview" alt="Vista previa de la imagen" style="display: none;">
                        
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-times"></i>
                        Cancelar</button>
                    <button type="button" class="btn btn-dark"><i class="fas fa-plus"></i> Crear</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para ver el perfume-->
    <div class="modal fade" id="detallesModal" tabindex="-1" role="dialog" aria-labelledby="detallesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header custom-modal-header">
                    <h5 class="modal-title" id="detallesModalLabel">Detalles del perfume</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-ms-12 col-md-6">
                        <label for="nombreProductoVer" class="form-label" style="font-weight: bold;">Nombre del
                            perfume</label>
                        <p>Stronger with u</p>
                    </div>
                    <div class="col-ms-12 col-md-6">
                        <label for="descuentoProductoVer" class="form-label"
                            style="font-weight: bold;">Descuento</label>
                        <p>15%</p>
                    </div>
                    <div class="col-ms-12 col-md-6">
                        <label for="precioProductoVer" class="form-label" style="font-weight: bold;">Precio</label>
                        <p>$250.98</p>
                    </div>
                    <div class="col-ms-12 col-md-6">
                        <label for="descripcionProductoVer" class="form-label"
                            style="font-weight: bold;">Descripción</label>
                        <p>El perfume Strong es el mas vendido a nivel mundial</p>
                    </div>
                    <div class="col-ms-12 col-md-12">
                        <label for="imagenProducto" class="form-label" style="font-weight: bold;">Imagen</label>
                        <img src="../../resources/img/perfumeString.png" class="rounded mx-auto d-block" alt="...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para editar-->
    <div class="modal fade" id="actualizarModal" tabindex="-1" role="dialog" aria-labelledby="actualizarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="actualizarModalLabel">Editar perfume</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveForm">
                    <div class="modal-body">
                        <div class="row">
                            <!--Primera columna-->
                            <div class="col-md-6 col-ms-12">
                                <input type="hidden" id="idProducto" name="idProducto">
                                <div>
                                    <label for="nombreProducto" class="form-label">Nombre del perfume</label>
                                    <input id="nombreProducto" type="text" name="nombreProducto"
                                        class="form-control" required>
                                </div>
                                <div>

                                </div>
                                <div>
                                    <label for="precioProducto" class="form-label">Precio del producto(US$)</label>
                                    <input id="precioProducto" type="number" name="precioProducto" min="0.01"
                                        step="0.01" class="form-control" required>
                                </div>
                                <div>
                                    <label for="descripcionProducto" class="form-label">Descripción del
                                        producto</label>
                                    <textarea name="descripcionProducto" id="descripcionProducto"
                                        class="form-control"></textarea>
                                </div>
                                <div>
                                    <label for="marcaProducto" class="form-label">Marca</label>
                                    <select class="form-select combobox" aria-label="Default select example">
                                        <option selected>Selecciona una marca</option>
                                        <option value="1">Dior</option>
                                        <option value="2">Calvin Klein</option>
                                    </select>
                            
                                </div>
                            </div>
                            <!--segunda columna-->
                            <div class="col-md-6 col-ms-12">
                                <div>
                                    <label for="oloresProducto" class="form-label">Olores</label>
                                    <select class="form-select combobox" aria-label="Default select example">
                                        <option selected>Selecciona una marca</option>
                                        <option value="1">Dior</option>
                                        <option value="2">Calvin Klein</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="estadoDescuento" class="form-label">Estado del descuento</label>
                                    <select class="form-select combobox" aria-label="Default select example">
                                        <option selected>Selecciona una marca</option>
                                        <option value="1">Dior</option>
                                        <option value="2">Calvin Klein</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="descuentoSeleccionado" class="form-label">Elige el descuento</label>
                                    <select class="form-select combobox" aria-label="Default select example">
                                        <option selected>Selecciona una marca</option>
                                        <option value="1">Dior</option>
                                        <option value="2">Calvin Klein</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="imagenMarca">
                            <label class="custom-file-label" for="imagenMarca">Seleccionar imagen</label>
                        </div>
                        <img src="" class="preview-image" id="imagenPreview" alt="Vista previa de la imagen" style="display: none;">
                    
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-times"></i>
                    Cancelar</button>
                <button type="button" class="btn btn-dark"><i class="fas fa-plus"></i> Crear</button>
            </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="../../resources/js/foto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>