<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Marca</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="container">
  <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#marcaModal"><i class="fas fa-plus"></i> Crear</button>
  
  <!-- Modal -->
  <div class="modal fade" id="marcaModal" tabindex="-1" role="dialog" aria-labelledby="marcaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header custom-modal-header">
          <h5 class="modal-title" id="marcaModalLabel">Crear Marca</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-tags"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Nombre de la marca">
          </div>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="imagenMarca">
            <label class="custom-file-label" for="imagenMarca">Seleccionar imagen</label>
          </div>
          <img src="" class="preview-image" id="imagenPreview" alt="Vista previa de la imagen" style="display: none;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
          <button type="button" class="btn btn-dark"><i class="fas fa-plus"></i> Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // Vista previa de la imagen seleccionada
  $("#imagenMarca").change(function() {
    readURL(this);
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        $('#imagenPreview').attr('src', e.target.result).show();
      }
      
      reader.readAsDataURL(input.files[0]); // Convertir a base64 string
    }
  }
</script>
</body>
</html>
