
.titulo{
    color: black;
    position: relative;
    padding-left: 20px;
}
.det{
    color: black;
    font-size: 18px;
}

.titulo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ffc107;
}
.apartadoPeque{
    padding-left: 35px;
}
.texto{
    padding-left: 35px;
}
.inputInfo{
    height: 40px;
    border-radius: 10px;
    background-color: #F6F6F6;
}
.radio-container{
    border-radius: 10px;
    background-color: #F6F6F6; 
}
.radius{
    padding-left: 10px;
}
.radius1{
    padding-left: 10px;
}
.contEnvio{
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #F6F6F6; 
}