
.titulo{
    color: black;
    position: relative;
    padding-left: 20px;
}
.det{
    color: black;
    font-size: 18px;
}

.titulo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ffc107;
}
.apartadoPeque{
    padding-left: 35px;
}
.texto{
    padding-left: 35px;
}
.inputInfo{
    height: 40px;
    border-radius: 10px;
    background-color: #F6F6F6;
}
.radio-container{
    border-radius: 10px;
    background-color: #F6F6F6; 
}
.radius{
    padding-left: 10px;
}
.radius1{
    padding-left: 10px;
}
.contEnvio{
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #F6F6F6; 
}
.contenedorPago{
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #F6F6F6; 
}
.btn-warning{
    border-radius: 8px;
}
.contBoton{
    padding-top: 10px;
    padding-bottom: 10px;
}
.resumen-orden {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.inputTex {
    margin-bottom: 10px;
    /* Agregar espacio entre los textos */
}

.radio-container input[type="radio"] {
    margin-right: 10px;
    /* Espaciado entre radio y texto */
}

.radius1 {
    padding-top: 15px;

}

.radius2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.radio-separator {
    width: 100%;
    border-bottom: 1px solid #ddd;
    /* Agregar línea separadora */
    margin: 5px 0;
}