
.titulo{
    color: black;
    position: relative;
    padding-left: 20px;
}
.det{
    color: black;
    font-size: 18px;
}

.titulo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ffc107;
}