/*CSS para la header y el footer*/

.peque {
    padding-left: 15px;
    margin-left: 2px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


#cont {
    margin-top: 15%;
}

.columnas {
   padding-left: 10%;
   padding-top: 5%;
   padding-bottom: 5%;
}

.foot h3,
.foot p {
    color: white;
}

.foot {
    margin-top: 5%;
    background-color: #2A2F2F;
}
.copy{
    color: white;
    margin-bottom: 5%;
}
.boton{
    margin: 2%;
}
.navbar{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px; 
}
.nav-link {
    color: black; 
}

.nav-link:hover {
    color: white; 
}