* {
    margin: 0;
    padding: 0;
}

.peque {
    width: 40px;
    height: 40px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: white;
}

#boton {
    margin-left: 2.5%;
}

#image {
    height: 20px;
}

#cont {
    margin-top: 15%;
}

.columnas {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

h3 {
    color: white;
    margin-bottom: 5%;
}

p {
    color: white;
}

.foot {
    margin-top: 5%;
    background-color: #2A2F2F;
}

.copy {
    color: white;
    margin-bottom: 5%;
}

.boton {
    margin: 2%;
}

.clasesDes {
    padding-top: 30px;
}

.slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 0;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.slick-prev {
    left: 10px;
    background: url('../../img/flecha-izquierda.png') no-repeat center center;
    background-color: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: contain;
}
.productos img {
    height: 300px;
   
}

.slick-next {
    right: 10px;
    background: url('../../img/flecha-correcta.png') no-repeat center center;
    background-color: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: contain;
}

.cartm {
    height: 240px;
    width: 240px;
}

.card {
    border-radius: 10px;
}

.cart1 {
    margin: 1px;
    background-color: #dfbbb0;
}

.cart1 img {
    height: 340.85px;
    width: 285.26px;
}

.cart2 {
    margin: 1px;
    background-color: #f1b9a8;
}

.cart2 img {
    height: 340.85px;
    width: 285.26px;
    margin: 0;
    padding: 0;
}

.cart1 h6, .cart1 p, .cart1 h5, .cart2 h6, .cart2 p, .cart2 h5 {
    padding: 10px;
}

.cartprueba {
    background-image: url('../../resources/img/carta1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin: 1.5px;
}

.cartprueba img {
    height: 40px;
    width: 40px;
}

.imagencart {
    padding-left: 20px;
    padding-top: 50px;
}

.cartprueba h1 {
    padding-left: 20px;
    padding-top: 50px;
}

.cartprueba h4 {
    padding-left: 20px;
    padding-top: 25px;
}

.bot {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-transparent {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: #3C4242;
    border-color: #3C4242;
    background-color: transparent;
}

.cartaderecha, .cartaIzquierdaBajo, .cartaDerechaBajo {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin: 1.5px;
}

.cartaderecha {
    background-image: url('../../resources/img/carta2.png');
}

.cartaIzquierdaBajo {
    background-image: url('../../resources/img/carta3.png');
}

.cartaDerechaBajo {
    background-image: url('../../resources/img/cart4.png');
}

.cartaderecha img, .cartaIzquierdaBajo img, .cartaDerechaBajo img {
    height: 40px;
    width: 40px;
}

.cartaderecha h1, .cartaIzquierdaBajo h1, .cartaDerechaBajo h1 {
    padding-left: 20px;
    padding-top: 50px;
}

.cartaderecha h4, .cartaIzquierdaBajo h4, .cartaDerechaBajo h4 {
    padding-left: 20px;
    padding-top: 30px;
}

h3.titulo {
    position: relative;
}

h3.titulo::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ffc107;
}

.contaf {
    padding-bottom: 30px;
}
