*{
    margin: 0;
    padding: 0;
}
.peque {
    width: 40px;
    height: 40px;
}

#boton {
    margin-left: 2.5%;
}

#image {
    height: 20px;
}

#cont {
    margin-top: 15%;
}

.columnas {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

h3 {
    color: white;
    margin-bottom: 5%;
}

p {
    color: white;
}

.foot {
    margin-top: 5%;
    background-color: #2A2F2F;
}

.copy {
    color: white;
    margin-bottom: 5%;
}

.boton {
    margin: 2%;
}

.clasesDes {
    padding-top: 30px;
}

.slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 0px;
    color: transparent;
    border: none;
    position: absolute;
    top: 1px;
    right: 0;
    padding-right: 5px;
}

.slick-prev {
    right: 40px;
    background: url(../../img/flecha-izquierda.png);
    background-size: 100%;
}

.slick-next {

    background: url(../../img/flecha-correcta.png);
    background-size: 100%;
}

.cartm {
    height: 240px;
    width: 240px;
}

.card {
    border-radius: 10px;
}

.cart1 {
    margin: 1px;
    background-color: #dfbbb0;
}

.cart1 img {
    height: 340.85px;
    width: 285.26px;
}

.cart2 {
    margin: 1px;
    background-color: #f1b9a8;
}

.cart2 img {
    height: 340.85px;
    width: 285.26px;
    margin: 0;
    padding: 0;
}

.cart1 h6 {
    padding: 10px;
}

.cart1 p {
    padding: 10px;
}

.cart1 h5 {
    padding: 10px;
}

.cart2 h6 {
    padding: 10px;
}

.cart2 p {
    padding: 10px;
}

.cart2 h5 {
    padding: 10px;
}

.cartprueba {
    background-image: url(../../img/carta1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.cartprueba img {
    height: 40px;
    width: 40px;
}

.imagencart {
    padding-left: 20px;
    padding-top: 50px;
}

.cartprueba{
    margin: 1.5px;
}
.cartprueba h1 {
    padding-left: 20px;
    padding-top: 50px;
}

.cartprueba h4 {
    padding-left: 20px;
    padding-top: 25px;
}
/* aca */
.bot {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-transparent {
    border-radius: 8px;
    width: 150px;
    height: 50px;
}
.cartaderecha{
    background-image: url(../../img/carta2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.cartaderecha img {
    height: 40px;
    width: 40px;
}
.cartaderecha h1 {
    padding-left: 20px;
    padding-top: 50px;
}
.cartaderecha h4 {
    padding-left: 20px;
    padding-top: 30px;
}
.cartaderecha{
    margin: 1.5px;
}
.cartaIzquierdaBajo{
    background-image: url(../../img/carta3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.cartaIzquierdaBajo img {
    height: 40px;
    width: 40px;
}
.cartaIzquierdaBajo h1 {
    padding-left: 20px;
    padding-top: 50px;
}
.cartaIzquierdaBajo h4 {
    padding-left: 20px;
    padding-top: 30px;
}
.cartaIzquierdaBajo{
    margin: 1.5px;
}
.cartaderecha{
    margin: 1.5px;
}
.cartaDerechaBajo{
    background-image: url(../../img/cart4.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.cartaDerechaBajo img {
    height: 40px;
    width: 40px;
}
.cartaDerechaBajo h1 {
    padding-left: 20px;
    padding-top: 50px;
}
.cartaDerechaBajo h4 {
    padding-left: 20px;
    padding-top: 30px;
}
.cartaDerechaBajo{
    margin: 1.5px;
}
/* 
.container-fluid{
    padding: 0px;
} */