.div1 {
    margin-left: 20px;
    margin-top: 20px;
}

.titulo {
    color: black;
    position: relative;
    padding-left: 20px;
}

.det {
    color: black;
    font-size: 18px;
}

/*Css para la palabra de saludo*/

.titulo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ffc107;
}

a {
    color: #807D7E;
}

.nav {
    margin-bottom: 20px;
}

.nav-link i {
    margin-right: 5px;
}

/*Css para paneles de pedidos*/

.paneles {
    background-color: #F6F6F6;
    width: auto;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}

p {
    font-size: 15px;
}

h6 {
    font-size: 20px;
}

.detalles {
    color: #FFFFFF;
    background-color: #EDD146;
}

.lb {
    color: #BEBCBD;
    font-weight: bold;

}

.title {
    margin-top: 15px;
    font-weight: bold;

}

.titleTwo {
    font-weight: bold;
}