.container {
    position: relative;
    width: 100%;
}

.container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la transparencia aquí */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text-overlay h2 {
    font-size: 2em;
}

.text-overlay p {
    font-size: 1.2em;
}
