.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 45px;
}

/*Css para el titulo de rectangulo amarillo*/
.div1 {
    margin-left: 20px;
    margin-top: 20px;
}

.titulo {
    color: black;
    position: relative;
    padding-left: 20px;
}

.titulo::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ffc107;
}

.card {
    margin: 20px;
}

.card1 {
    background-color: #807D7E;
}

.card1:hover {
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}


.card2 {
    background-color: #EDD146;
}

.card2:hover {
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.card3 {
    background-color: #333333;
    color: white;
}

.imagenesCol {
    margin: 15px;
}

.rowSocios {
    padding: 5px;
    font-size: 20px;
    margin: 10px;
}

.img-text {
    color: white;
    font-size: 35px;
    font-weight: bold;    
}
.videos{
    padding: 10px;
    background-color: #252525;
}

.text{
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    
}