

.btn-create{
    background-color: #EDD146;
}

.card{
    margin: 5px;
}

  .star-rating {
    font-size: 2em;
    color: #ddd; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  .star-rating input {
    display: none;
  }
  .star-rating label {
    cursor: pointer;
    color: #ccc; 
  }
  .star-rating input:checked ~ label,
  .star-rating input:checked ~ label ~ label {
    color: #ffc107; 
  }
  .modal-footer {
    border-top: none; 
    justify-content: flex-start; 
  }
  .btn-warning {
    background-color: #ffc107; 
    border-color: #ffc107; 
  }
  .btn-warning:hover {
    background-color: #ffca2c; 
    border-color: #ffca2c; 
  }
  .form-control {
    background-color: #f2f2f2; 
  }