<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/Contactanos.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">

    <style>

    </style>
</head>

<body>
    <!-- Encabezado de la página -->
    <header>
    </header>
    <main>
        <!-- Mini navegador -->
        <div class="container-fluid">
            <div class="   col-md-8 ">
            </div>
            <!-- Contenedor con imagen de inicio -->
            <div class="contenedorImagen position-relative">
                <img src="../../resources/img/Groupfond.png" class="d-block w-100" alt="Responsive image">
                <div class="texto-encima">
                    <h4 class="mb-2" style="color: white;">Ve nuestras marcas <br> patrocinadoras</h4>
                    <button type="button" style="color: white;" class="btn btn-warning" id="boton1">Ver más</button>
                </div>
            </div>
            <!-- Contenedor con las cartas -->
            <div class="container-fluid mt-5 mb-5">
                <div class="row">
                    <!-- Contenedor para maquetación -->
                    <div class="col-lg-1 col-md-8 col-cm-8">
                    </div>
                    <div class="col-lg-10 col-md-10 col-cm-12 ">
                        <!-- Titulo -->
                        <h3 class="titulo pl-2" style="color: black;">Descuentos disponibles</h3>
                        <div class="row">
                            <!-- Carta 1 -->
                            <div class="col-sm-12 col-lg-6 col-md-12 pt-3 cart1 ">
                                <div class="card cartHombres row">
                                    <div class="card-body col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="mt-5" style="color: white;">Perfumes para hombres</h4>
                                                <h2 class="mt-5" style="color: white;">Descuentos <br> del 30%</h2>
                                                <button style="color: white;" type="button"
                                                    class="btn btnVermas btn-warning mt-5 ml-3 mb-5" id="boton1">Ver
                                                    productos</button>
                                            </div>
                                            <!-- Contenedor con imagen de la carta -->
                                            <div class="col-md-6 imagencartH pr-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Carta 2 -->
                            <div class="col-sm-12 col-lg-6 col-md-12 pt-3 cart1 ">
                                <div class="card cartMujeres row">
                                    <div class="card-body col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="mt-5" style="color: white;">Perfumes para mujeres</h4>
                                                <h2 class="mt-5" style="color: white;">Descuentos <br> del 20%</h2>
                                                <button style="color: white;" type="button"
                                                    class="btn btnVermas btn-warning mt-5 ml-3 mb-5" id="boton1">Ver
                                                    productos</button>
                                            </div>
                                            <!-- Contenedor con imagen de la carta -->
                                            <div class="col-md-6 imagencartM pr-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Contenedor con inputs para contactarnos -->
        <div class="container-fluid">
            <div class="row">
                <!-- Contenedor para maquetación -->
                <div class="col-lg-1 col-md-8 col-cm-8">
                </div>
                <!-- Contenedor con inputs para agregar informacion -->
                <div class="col-lg-10 col-md-12 col-cm-12" id="form">
                    <h3 class="titulo pl-3" style="color: black;">Contáctanos por medio de correo electrónico</h3>
                    <div class="info mt-2 p-4  rounded ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control contacto" id="nombre" placeholder="Adriana">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    <input type="text" class="form-control contacto" id="apellido"
                                        placeholder="Orellana">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Correo Electrónico</label>
                                    <input type="email" class="form-control contacto" id="email"
                                        placeholder="karina504@gmail.com">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="mensaje">Mensaje</label>
                                    <textarea class="form-control contacto" id="mensaje" rows="5"
                                        placeholder="Escribe tu mensaje aquí"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning but" style="color: white;"
                            id="boton1">Enviar</button>
                    </div>
                </div>
            </div>
            <!-- Contenedor con curiosidades -->
            <div class="row">
                <!-- Contenedor para maquetación -->
                <div class="col-lg-1 col-md-8 col-cm-8">
                </div>
                <!-- Contenedor con imagen -->
                <div class="col-lg-11 col-md-12 col-cm-12 ">
                    <div class="mt-3">
                        <h3 class="titulo pl-2" style="color: black;">Curiosidades</h3>
                    </div>

                    <div class="col-md-11 pt-3">
                        <div class="card cart3 row">
                            <div class="card-body col">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="mt-5 mb-4 ml-3" style="color: white;">Conoce la historia <br>del
                                            perfume</h2>
                                        <button type="button" class="btn btn-transparente mt-4 mb-5 ml-3" id="boton2"><a
                                                href="../public/historia_perfume.html"
                                                style="color: black;">Leer</a></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer><!-- Pie de página -->
    </footer>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>

    <script src="../../Controllers/utils/components.js"></script>
</body>

</html>