<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de los Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/detallesProductos.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <header>
    </header>
    <main>

        <div class="container mt-5">
            <!--  enlace para volver atrás -->
            <div class="row">
                <div class="col-md-6 text-left">
                    <a href="../../Views/public/lista_productos.html"><i class="fas fa-arrow-left fa-2x" style="color: black;"></i></a>
                </div>
            </div>
            <div class="sizebox"></div>

            <!-- Sección de Producto -->
            <div class="row" id="producto_inicio">

            </div>

            <!-- Separador -->
            <hr>

            <!-- Sección de Marca, Categoría, Aroma y Galería de Imágenes -->
            <div class="row mt-5">
                <div class="col-md-6" id="detalle">

                </div>
                <div class="col-md-6" id="imagenes">

                </div>
            </div>

            <!-- Sección de Valoraciones -->
            <div class="row valoraciones mt-3">
                <div class="col-md-12">
                    <h3 class="titulo">Valoraciones</h3>
                    <div class="row" id="valoraciones"></div>
                </div>
            </div>

            <!-- Sección de Productos Similares -->
            <div class="row productos-similares mt-5 scrollable">
                <div class="col-md-12">
                    <h3 class="titulo">Productos Similares</h3>
                    <!-- Lista de productos similares -->
                    <div id="similares"></div>
                </div>
            </div>


        </div>
        <!-- Modal -->
        <div class="modal fade" id="validationsModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <i class="fas fa-exclamation-circle text-warning" style="font-size: 5rem;"></i>
                        <h5 class="mt-3">¡Validaciones!</h5>
                        <p class="mt-3">Por favor, revise las validaciones en los campos.</p>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>

    <script src="../../Controllers/utils/components.js"></script>
    <script src="../../Controllers/utils/Validaciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../Controllers/public/detalle_producto.js"></script>
    <script src="../../Controllers/admin/metodos.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>