<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de los Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/detallesProductos.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <header>
    </header>
    <main>

        <div class="container mt-5">
            <!--  enlace para volver atrás -->
            <div class="row">
                <div class="col-md-6 text-left">
                    <a href="#"><i class="fas fa-arrow-left fa-2x" style="color: black;"></i></a>
                </div>
            </div>
            <div class="sizebox"></div>

            <!-- Sección de Producto -->
            <div class="row" id="producto_inicio">

            </div>

            <!-- Separador -->
            <hr>

            <!-- Sección de Marca, Categoría, Aroma y Galería de Imágenes -->
            <div class="row mt-5">
                <div class="col-md-6" id="detalle">

                </div>
                <div class="col-md-6" id = "imagenes">

                </div>
            </div>

            <!-- Sección de Valoraciones -->
            <div class="row valoraciones mt-3">
                <div class="col-md-12">
                    <h3 class="titulo">Valoraciones</h3>
                    <div class="row" id="valoraciones"></div>
                </div>
            </div>

            <!-- Sección de Productos Similares -->
            <div class="row productos-similares mt-5 scrollable">
                <div class="col-md-12">
                    <h3 class="titulo">Productos Similares</h3>
                    <!-- Lista de productos similares -->
                    <div class="product-item">
                        <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1679469289-sauvage-dior-1562319432.jpg?crop=0.6666666666666666xw:1xh;center,top&resize=980:*"
                            class="rounded mx-auto d-block" alt="Perfume Similar 1">
                        <div class="product-info">
                            <h5>Perfume X</h5>
                            <p class="product-price">Precio: $50.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1677831892-6911.jpg?crop=0.800xw:1xh;center,top&resize=980:*"
                            class="rounded mx-auto d-block" alt="Perfume Similar 2">
                        <div class="product-info">
                            <h5>Perfume Y</h5>
                            <p class="product-price">Precio: $55.00</p>
                        </div>
                    </div>

                    <div class="product-item">
                        <img src="https://www.neo2.com/wp-content/uploads/2023/10/nuevo-perfume-gant-06.jpg"
                            class="rounded mx-auto d-block" alt="Perfume Similar 3">
                        <div class="product-info">
                            <h5>Perfume Z</h5>
                            <p class="product-price">Precio: $45.00</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="https://th.bing.com/th/id/OIP.MIo-DMiiTrwlO-60RFjAEAHaHa?rs=1&pid=ImgDetMain"
                            class="rounded mx-auto d-block" alt="Perfume Similar 3">
                        <div class="product-info">
                            <h5>Perfume Z</h5>
                            <p class="product-price">Precio: $75.00</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
    </footer>

    <script src="../../Controllers/utils/components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../Controllers/public/detalle_producto.js"></script>
    <script src="../../Controllers/admin/metodos.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>