<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/homepage.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">

</head>

<body>
    <header>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col" id="cont">
                    <div class="row">
                        <div class="col">
                            <h2>Tenemos los mejores perfumes</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>¡Encuentra en EssenZial el aroma
                                que te identifica!</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary" id="boton1">Ver más</button>
                        </div>
                    </div>

                </div>
                <div class="col-8">
                    <img src="../../resources/img/chanelimg.png" class="img-fluid" alt="...">
                </div>
            </div>
            <!-- Cartas -->
            <div class="row mt-4 ">
                <div class="col-md-6 pt-3">
                    <div class="card cart1 row">
                        <div class="card-body col">
                            <div class="row">
                                <div class="col">
                                    <h6 class="card-title" style="color: white;">Bajo Precio</h6>
                                    <h5 class="card-text" style="color: white;">Los productos <br>favoritos por todos
                                    </h5>
                                    <p class="card-text" style="color: white;">50% de descuento</p>
                                    <a href="#">
                                        <p style="color:white;">Explora los productos con <br> estas ofertas</p>
                                    </a>
                                </div>
                                <div class="col">
                                    <img src="../../resources/img/pafu.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pt-3">
                    <div class="card cart2 row">
                        <div class="card-body col">
                            <div class="row">
                                <div class="col">
                                    <h6 class="card-title" style="color: white;">Bajo Precio</h6>
                                    <h5 class="card-text" style="color: white;">Los productos <br>favoritos por todos
                                    </h5>
                                    <p class="card-text" style="color: white;">50% de descuento</p>
                                    <a href="#">
                                        <p style="color:white;">Explora los productos con <br> estas ofertas</p>
                                    </a>
                                </div>
                                <div class="col">
                                    <img src="../../resources/img/pafu2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin de cartas -->
            <div class="vr"></div>
            <h5 class="modal-title vr pt-3 title" id="" style="padding-left: 10px;">Agregar dirección</h5>
            <!-- Carrousel-->
            <div class=" row clasesDes ">
                <!-- Cotenido del carrousel-->
                <!-- Carta-->
                <div class="card m-2" style="width: 18rem;">
                    <img src="../../resources/img/ariana.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Clouds - Ariana Grande</p>
                    </div>
                </div>
                <!-- Carta-->
                <div class="card m-2" style="width: 18rem;">
                    <img src="../../resources/img/bombshell.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Clouds - Ariana Grande</p>
                    </div>
                </div>
                <!-- Carta-->
                <div class="card m-2" style="width: 18rem;">
                    <img src="../../resources/img/chanel.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Clouds - Ariana Grande</p>
                    </div>
                </div>
                <!-- Carta-->
                <div class="card m-2" style="width: 18rem;">
                    <img src="../../resources/img/jeanpaul.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Clouds - Ariana Grande</p>
                    </div>
                </div>
                <!-- Carta-->
                <div class="card m-2" style="width: 18rem;">
                    <img src="../../resources/img/perfumeString.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Clouds - Ariana Grande</p>
                    </div>
                </div>
                <!-- Carta-->
                <div class="card m-2" style="width: 18rem;">
                    <img src="../../resources/img/perfume.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Clouds - Ariana Grande</p>
                    </div>
                </div>
            </div>
            <div id="carouselExample" class="carousel slide" data-ride="carousel" style="max-width: 600px; margin: auto;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../resources/img/car1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
            
        </div>
        </div>

    </main>
    <footer>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Slick Carousel -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Otros scripts -->
    <script src="../../Controllers/public/components.js"></script>
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <!-- Tu script personalizado -->
    <script>
        $(document).ready(function () {
            $('.clasesDes').slick({
                dots: false,
                infinite: false,
                speed: 600,
                slidesToShow: 4,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: false,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
    <script>
        $('.one-time').slick({
  dots: false,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});
			
    </script>
</body>

</html>