<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/lista_productos.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <header>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="container estilos">
                        <label for="">
                            <h5>Filtros</h5>
                        </label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Parfum
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Eau de parfum
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Eau de toilette
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Eau de fraíche
                            </label>
                        </div>
                    </div>

                    <div class="container estilos">
                        <label for="">
                            <h5>Top marcas</h5>
                        </label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Carolina Herrera
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Burberry
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Calvin Klein
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Giorgio Armani
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Hugo boss
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Givenchy
                            </label>
                        </div>


                    </div>
                </div>
                <div class="col-6">
                    <label for="nombreCategoria">
                        <h5>Perfumes para hombres</h5>
                    </label>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <img src="../../resources/img/gio.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-text" style="color: black;">Acqua Di Gio</h6>
                                    <p class="textBrand">Giorgio Armani</p>
                                    <div>
                                        <label for="">$150.00</label>
                                        <button type="button" class="btn btn-secondary btn-sm"> Ver producto</button>
                                    </div>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="../../resources/img/gio.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-text" style="color: black;">Acqua Di Gio</h6>
                                    <p class="textBrand">Giorgio Armani</p>
                                    <div><label for="">$150.00</label></div>
                            </div>
                        </div>
                        
                    </div>
                    

                </div>
                
            </div>
        </div>
    </main>
    <footer>
    </footer>

    <script src="../../Controllers/public/components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>