<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/menu_lateral.css">
    <link rel="stylesheet" href="../../resources/css/public/pedidos.css">

    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <!-- Encabezado de la página -->
    <header>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <!-- Titulo-->
                    <h4>Mis pedidos</h4>
                    <!-- Navegador-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#preparandoseTab"
                                onclick="pedidos()" role="tab" aria-controls="home"
                                aria-selected="true">Preparandose</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#enviandoTab"
                                onclick="pedidoEnviado()" role="tab" aria-controls="profile"
                                aria-selected="false">Enviando</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#finalizadoTab"
                                onclick="pedidoFinalizado()" role="tab" aria-controls="contact"
                                aria-selected="false">Finalizado</a>
                        </li>
                    </ul>
                    <!-- Contenido del navegador-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="preparandoseTab" role="tabpanel"
                            aria-labelledby="home-tab">
                            <!-- Contenido para Preparandose -->
                        </div>
                        <div class="tab-pane fade" id="enviandoTab" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- Contenido para Enviando -->
                        </div>
                        <div class="tab-pane fade" id="finalizadoTab" role="tabpanel" aria-labelledby="contact-tab">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para mostrar mensaje de error -->
            <div class="modal fade" id="errorModalPe" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 5rem;"></i>
                            <h5 class="mt-3">¡Ups, ocurrió un error!</h5>
                            <p class="mt-3">Lo sentimos, parece que hubo un error al cargar los datos, inténtalo más tarde.</p>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>

    <!--Script para uso de iconos-->
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Script para plantilla del header y footer-->
    <script src="../../Controllers/admin/metodos.js"></script>
    <script src="../../Controllers/utils/components.js"></script>
    <script src="../../Controllers/utils/components2.js"></script>
    <script src="../../Controllers/public/pedidos.js"></script>

</body>

</html>