<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/menu_lateral.css">
    <link rel="stylesheet" href="../../resources/css/public/pedidos.css">

    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <header>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h4>Mis pedidos</h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#activas" role="tab"
                                aria-controls="home" aria-selected="true">Activas</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#completadas" role="tab"
                                aria-controls="profile" aria-selected="false">Completadas</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#canceladas" role="tab"
                                aria-controls="contact" aria-selected="false">Canceladas</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="activas" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row paneles">
                                <div class="col-6">
                                    <h6>Pedido numero #<label for="">44</label></h6>
                                    <p class="titleTwo">Fecha del pedido: <label for="" class="lb">05 de marzo de
                                            2024</label></p>
                                    <button type="button" class="btn detalles">Ver detalles</button>
                                </div>
                                <div class="col-6">
                                    <p class="titleTwo">Método de pago: <label for="" class="lb">Contra entrega</label>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="completadas" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row paneles">
                                <div class="col-6">
                                    <h6>Pedido numero #<label for="">34</label></h6>
                                    <p class="titleTwo">Fecha del pedido: <label for="" class="lb">05 de marzo de
                                            2024</label></p>
                                    <button type="button" class="btn detalles">Ver detalles</button>
                                </div>
                                <div class="col-6">
                                    <p class="titleTwo">Método de pago: <label for="" class="lb">Contra entrega</label>
                                    </p>


                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="canceladas" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row paneles">
                                <div class="col-6">
                                    <h6>Pedido numero #<label for="">35</label></h6>
                                    <p class="titleTwo">Fecha del pedido: <label for="" class="lb">05 de marzo de
                                            2024</label></p>
                                    <button type="button" class="btn detalles">Ver detalles</button>
                                </div>
                                <div class="col-6">
                                    <p class="titleTwo">Método de pago: <label for="" class="lb">Contra entrega</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </main>
    <footer>
    </footer>


    <!--Script para uso de iconos-->
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Script para plantilla del header y footer-->
    <script src="../../Controllers/utils/components.js"></script>
    <script src="../../Controllers/utils/components2.js"></script>

</body>

</html>