<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes somos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">

    <link rel="stylesheet" href="../../resources/css/public/quienes_somos.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <header>
    </header>
    <main>
        <div class="cont">
            <img src="../../resources/img/perfumes.jpg" alt="Imagen de fondo">
            <div class="overlay"></div>
            <div class="text-overlay">
                <h2>“Donde los sueños se vuelven fragancia
                    EssenZial”</h2>
            </div>
            
        </div>
    </main>
    <footer>
    </footer>


    <!--Script para uso de iconos-->
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Script para plantilla del header y footer-->
    <script src="../../Controllers/public/components.js"></script>
    <script src="../../resources/js/pedidos.js"></script>

</body>

</html>