<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes somos</title>
    <!--CSS DE BOOSTRAP-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--CSS de las paginas-->
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/quienes_somos.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <header>
    </header>
    <main>

        <div class="img-container">
            <img src="../../resources/img/gruoperf.png" alt="Responsive image">
            <div class="img-text">"Essenzial, donde los sueños se vuelven fragancia"</div>
        </div>

        <div class="container text-center">
            <img src="../../resources/img/logo.png" alt="" srcset="" class="text-center">
            <h5>¿Quiénes somos?</h5>
            <p>En Essenzial, nos enorgullece ser más que una tienda de perfumería;
                somos el destino definitivo para quienes buscan experiencias olfativas excepcionales en El Salvador.</p>
        </div>
        <div class="container-fluid cont">
            <div class="div1 container">
                <h4 class="titulo">
                    Nuestra misión y visión
                </h4>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card  card1">
                        <div class="card-body">
                            <i class="fa-solid fa-bullseye fa-2x"></i>
                            <h5 class="card-title">Misión</h5>
                            <p class="card-text">Ofrecer a nuestros clientes una experiencia única y memorable al
                                proporcionar
                                una amplia gama de productos de perfumería de la más alta calidad en El Salvador.
                                Aspiramos a convertirnos en el destino definitivo para quienes buscan explorar y
                                descubrir
                                nuevas fragancias y sensaciones.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card2">
                        <div class="card-body">
                            <i class="fa-solid fa-lightbulb fa-2x"></i>
                            <h5 class="card-title">Visión</h5>
                            <p class="card-text">Con una pasión por la excelencia y la innovación, buscamos establecer
                                relaciones sólidas y duraderas con nuestros clientes, colaboradores y proveedores,
                                siendo un referente de integridad, calidad y confianza en la industria de la perfumería
                                en El Salvador.
                            <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-12 justify-content-center">
                <div class="card card3 text-center">
                    <div class="card-body">
                        <h3 class="card-title">Marcas patrocinadoras</h3>
                        <h6>Marcas reconocidas mundialmente</h6>
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-12 text-center"> <img src="../../resources/img/dior.png"
                                    class="rounded float-left images" alt="..." width="250px" height="100px"></div>
                            <div class="col-lg-2 col-md-6 col-sm-12"><img src="../../resources/img/ch.jpg" class="rounded float-left images"
                                    alt="..." width="250px" height="100px"> </div>
                            <div class="col-lg-2 col-md-6 col-sm-12"> <img src="../../resources/img/chachanel.png"
                                    class="rounded float-left images" alt="..." width="250px" height="100px"></div>
                            <div class="col-lg-2 col-md-6 col-sm-12"><img src="../../resources/img/polo.png" class="rounded float-left images"
                                    alt="..." width="250px" height="100px"></div>
                            <div class="col-lg-2 col-md-6 col-sm-12"><img src="../../resources/img/giorarmani.png"
                                    class="rounded float-left images" alt="..." width="250px" height="100px"></div>
                            <div class="col-lg-2 col-md-6 col-sm-12"><img src="../../resources/img/giorarmani.png" class="rounded float-left images" alt="..."
                                width="250px" height="100px"></div>
                        </div>
                        <div>






                        </div>
                    </div>
                </div>
            </div>

            <div class="div1 container">
                <h4 class="titulo">
                    Clientes destacados
                </h4>
            </div>
            <div class="row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../../resources/img/mujer.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Carolina Hernandez</h5>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../resources/img/hh.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Gabriel Orellana</h5>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../resources/img/lentem.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Melissa Aguilar</h5>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../resources/img/mb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Óscar Martínez</h5>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../resources/img/jose.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">José Juarez</h5>
                    </div>
                </div>
            <div>
            <div class="div1 container">
                <h4 class="titulo">
                    Socios
                </h4>
            </div>
            <div class="row rowSocios">
                <div class="col-lg-6">
                    <img src="../../resources/img/prismamoda.jpg" alt="..." class="img" width="200px">
                    <img src="../../resources/img/sv.png" alt="..." class="img" width="200px">
                    <img src="../../resources/img/ma.jpeg" alt="..." class="img" width="200px">
                </div>
                <div class="col-lg-6 text-end">
                    <h3>
                        Estamos asociados con las mejores empresas a nivel nacional con expericencia de más 10 años.
                    </h3>
                </div>
            </div>

        </div>

    </main>
    <footer>
    </footer>


    <!--Script para uso de iconos-->
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Script para plantilla del header y footer-->
    <script src="../../Controllers/public/components.js"></script>
    <script src="../../resources/js/pedidos.js"></script>




</body>

</html>