<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Página</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../resources/css/registrate.css">
</head>

<body>
  <div class="container-xxl">
    <div class="row mt-3">
      <div class="col-md-4">
        <nav class="navbar navbar-light ">
          <a class="navbar-brand" href="#">
            <img src="../../resources/img/icono.png" width="30" height="30" class="d-inline-block align-top" alt="">
            EssenZial
          </a>
        </nav>
      </div>
      <div class="col-md-8 text-right">
        <button type="button" class="btn btn-light">Registrarse</button>
        <button type="button" class="btn btn btn-dark">Iniciar sesión</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 fondo">
      </div>
      <div class="col-md-6">
        <form class="formulario">
          <h2>Iniciar Sesión</h2>
          <p>Registrate gratis para acceder a todos nuestros productos</p>
          <div class="form-group">
            <label for="correo">Nombre</label>
            <input type="email" class="form-control" id="correo" placeholder="Daniel">
          </div>
          <div class="form-group">
            <label for="correo">Apellido</label>
            <input type="email" class="form-control" id="correo" placeholder="Morales">
          </div>
          <div class="form-group">
            <label for="correo">Teléfono</label>
            <input type="email" class="form-control" id="correo" placeholder="75963208">
          </div>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" id="correo" placeholder="correo@example.com">
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
            <small class="forgot-password">Usa 8 o más caracteres con una combinacion de letras, números y símbolos</small>
          </div>
          <div class="form-group">
            <label for="contrasena">Confirmar contraseña</label>
            <input type="password" class="form-control" id="contrasena" placeholder="Confirmar">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Aceptas nuestros Términos de uso y Políticas de Privacidad
              </label>
            </div>
          </div>
          <button type="button" class="btn  btn-dark">Ingresar</button>
        </form>
        <p class="forgot-password" class="mt-3">¿Ya tienes una cuenta? <a href="#">Inicia sesión</a></p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
