<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">
    <link rel="stylesheet" href="../../resources/css/public/terminos_condiciones.css">
    <link rel="icon" href="../../resources/img/icono.png" type="image/x-icon">
</head>

<body>
    <!-- Encabezado de la página -->
    <header>

    </header>

    <main>
        <!-- Mini navegador -->
        <span class="ml-5">Página Principal > Términos y condiciones de uso</span>
        <div class="container">
            <!-- Contenedor con la informacion -->
            <div class="col-md-12 arib">

            </div>
            <div class="title">
                <h1>Términos y Condiciones de Uso</h1>
            </div>

            <div class="section text-justify">
                <h4>Información Relevante</h4>
                <p>Esta página web es propiedad y está operada por Essenzial El Salvador. Estos Términos establecen los
                    términos y condiciones bajo los cuales puedes usar nuestra página web y nuestros servicios...</p>
            </div>

            <div class="section text-justify">
                <h4>Licencia</h4>
                <p>Essenzial a través de su sitio web concede una licencia para que los usuarios utilicen los servicios
                    que son vendidos en este sitio web de acuerdo con los Términos y Condiciones que se describen en
                    este documento.</p>
            </div>

            <div class="section text-justify">
                <h4>Uso No Autorizado</h4>
                <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación)
                    usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o
                    ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>
            </div>

            <div class="section text-justify">
                <h4>Propiedad</h4>
                <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado
                    o sin modificar. Todos los productos son propiedad de los proveedores del contenido.</p>
            </div>

            <div class="section text-justify" id="devoluciones">
                <h4>Política de Reembolso y Garantía</h4>
                <p>Al tratarse de un producto con descuento, no realizamos reembolsos después de realizar el pago, usted
                    tiene la responsabilidad de entender las características antes de comprarlo. Le pedimos que lea
                    cuidadosamente la descripción antes de comprarlo. Solo se hacen excepciones de esta regla cuando la
                    descripción no se ajusta al servicio.</p>
                <p>Recuerde que puede ejercer su derecho de desistimiento en un plazo de 30 días naturales, a contar
                    desde la compra del producto.</p>
            </div>

            <div class="section text-justify">
                <h4>Derecho a Suspender o Cancelar la Cuenta del Usuario</h4>
                <p>Podemos terminar o suspender de manera permanente o temporal su acceso al servicio sin previo aviso y
                    responsabilidad por cualquier razón, incluso si a nuestra sola determinación consideramos que ha
                    violado alguna disposición de estos Términos y Condiciones o cualquier ley o regulación aplicable.
                </p>
                <p>Puede descontinuar el uso y solicitar la cancelación de su cuenta y/o cualquier servicio en cualquier
                    momento. Sin perjuicio de lo dicho, con respecto a las suscripciones renovadas automáticamente,
                    dichas suscripciones se suspenderán solo al vencimiento del período correspondiente por el que ya
                    has realizado el pago.</p>
            </div>

            <div class="section text-justify">
                <h4>Limitación de Responsabilidad</h4>
                <p>En lo que permite la ley aplicable, en ningún caso Essenzial El Salvador será responsable por daños
                    indirectos, punitivos, incidentales, especiales, consecuentes o ejemplares, incluidos, entre otros,
                    daños por pérdida de beneficios, buena voluntad, uso, datos u otras pérdidas intangibles, que surjan
                    de o estén relacionadas con el uso o la imposibilidad de utilizar el servicio.</p>
                <p>En lo permitido por la ley aplicable, Essenzial El Salvador no asume responsabilidad alguna por (i)
                    errores, errores o inexactitudes de contenido; (ii) lesiones personales o daños a la propiedad, de
                    cualquier naturaleza que sean, como resultado de su acceso o uso de nuestro servicio; y (iii)
                    cualquier acceso no autorizado o uso de nuestros servidores y/o toda la información personal
                    almacenada en los mismos.</p>
            </div>

            <div class="section text-justify">
                <h4>Derecho a Modificar los Términos y Condiciones de Uso</h4>
                <p>Nos reservamos el derecho de modificar estos términos a nuestra entera discreción. Por lo tanto, debe
                    revisar estas páginas periódicamente. Cuando cambiemos los Términos y Condiciones de una manera
                    material, le notificaremos que se han realizado cambios importantes en los mismos a través de la
                    dirección de email facilitada, con un plazo de antelación de un mes antes de la entrada en efecto de
                    los nuevos Términos y Condiciones. El uso continuado de la página web o nuestro servicio después de
                    dicho cambio constituye su aceptación de los nuevos Términos y Condiciones. Si no acepta alguno de
                    estos términos o cualquier versión futura de los Términos y Condiciones, no use o acceda (o continúe
                    accediendo) a la página web o al servicio.</p>
            </div>

            <div class="section text-justify">
                <h4>Legislación y Resolución de Disputas</h4>
                <p>Estos Términos y Condiciones, los derechos y recursos provistos aquí, y todos y cada una de las
                    reclamaciones y disputas relacionados con este y/o los servicios, se regirán, interpretarán y
                    aplicarán en todos los aspectos única y exclusivamente de conformidad con las leyes internas de El
                    Salvador. Todas las reclamaciones y disputas se presentarán y usted acepta que sean decididos por un
                    tribunal de jurisdicción competente ubicada en San Salvador.</p>
            </div>

            <div class="section text-justify">
                <h4>Privacidad</h4>
                <p>Garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos
                    ingresados por el usuario o en el caso de requerir una validación de los pedidos no serán entregados
                    a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos
                    legales.</p>
                <p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser
                    seleccionada al momento de crear su cuenta.</p>
            </div>

        </div>
    </main>

    <footer>

    </footer>

    <!-- Scripts -->
    <!--Script para plantilla del header y footer-->
    <script src="../../Controllers/utils/components.js"></script>
    <!--Script para uso de iconos-->
    <script src="https://kit.fontawesome.com/186c8fdf5b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>