<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/header_footer.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light text-end">
        <a class="navbar-brand" href="#">
            <img src="../../resources/img/icono.png" width="30" height="30" class="d-inline-block align-top" alt="">
            EssenZial
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Hombre <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">Mujer</a>
                <a class="nav-link" href="#">Niños</a>
                <a class="nav-link" href="#">Unisex</a>
                <button class="btn btn-sm bg-light peque" type="button">
                    <a class="navbar-brand" href="../public/index.html">
                        <img src="../../resources/img/icons8-usuario-32.png" alt=""
                            class="d-inline-block align-text-top" id="image">
                    </a>
                </button>
                <button class="btn btn-sm bg-light peque" type="button" id="boton">
                    <a class="navbar-brand" href="../public/index.html">
                        <img src="../../resources/img/carrito.png" alt="" class="d-inline-block align-text-top"
                            id="image">
                    </a>
                </button>

            </div>
        </div>
    </nav>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>