#categorias-page .color {
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
}
#categorias-page {
  height: 90vh;
}

#categorias-page .sizebox {
  padding-bottom: 10px;
}

#categorias-page .sizebox1 {
  padding: 20px;
}

/* Estilos de búsqueda */
#categorias-page .txt-buscar {
  border-radius: 10px;
  max-width: 300px;
  padding-left: 20px;
}

#categorias-page .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: auto;
}

#categorias-page .buscar {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
}

#categorias-page .focus:focus {
  border-color: #0b0b0b;
  box-shadow: none;
}

/* Estilos de modal */
#categorias-page .modal-content {
  border-radius: 20px;
}

#categorias-page .custom-modal-header {
  background-color: #000;
  color: #fff;
  border-radius: 20px 20px 0 0;
}

#categorias-page .custom-modal-header .close {
  color: #fff;
}

#categorias-page .form-control:focus {
  border-color: #0b0b0b;
  box-shadow: none;
}

#categorias-page .custom-file-input {
  color: transparent;
}

#categorias-page .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

#categorias-page .custom-file-input::before {
  content: 'Seleccionar imagen';
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
}

#categorias-page .preview-image {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  margin-top: 10px;
}

/* Estilos de botones */
#categorias-page .btn {
  border-radius: 20px;
}

#categorias-page .btn-dark {
  border-radius: 8px;
}

#categorias-page .input-group-text {
  background-color: #f8f9fa;
  border-radius: 10px 0 0 10px;
}

#categorias-page .form-control {
  border-radius: 0 10px 10px 0;
}

/* Estilos personalizados */
#categorias-page .nombre {
  background-color: #f8f9fa;
  border-radius: 10px 0 0 10px;
}

#categorias-page .botn {
  width: 150px;
}

#categorias-page img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

/* Reducir la opacidad del fondo del modal */
#categorias-page .modal-backdrop {
  opacity: 0.8;
}

/* Cambiar el color de fondo del modal */
#categorias-page .modal-backdrop {
  background-color: rgba(54, 51, 51, 0.5);
}
#categorias-page .preview-image {
  display: none;
}
.modal-title{
  color: #fff;
}