
.color
{
    background-color:rgb(245, 245, 245);
    border-radius: 15px;
}
.sizebox{
    padding-bottom: 2px;
}
.sizebox1{
    padding:20px;
}
.txt-buscar
{
    border-radius: 10px;
    max-width: 300px;
    padding-left:20px;
}
.search-icon {
    position: absolute;
    right: 10px; /* Ajusta la posición de la imagen según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    height: 20px; /* ajusta el tamaño de la imagen según tus necesidades */
    width: auto;
}

.input-group-text {
    padding: 0; /* Elimina el padding para que la imagen se fusione con el input */
    border-radius: 0; /* Opcional: quita el borde redondeado si lo deseas */
    background-color: transparent; /* Establece el fondo transparente */
    border: none; /* Elimina el borde */
}
.focus:focus{
    border-color: #0b0b0b;
    box-shadow: none;
}
.rounded-input {
    border-radius: 20px; /* Ajusta el valor según el grado de redondez deseado */
}

.rounded-input {
    border-radius: 20px; /* Ajusta el valor según el grado de redondez deseado */
}

      /* Estilo para hacer que el campo de la derecha sea más alto */
      .modal-body .form-group.col-md-6:nth-child(2) input {
        height: 100px; /* Altura ajustable según tus necesidades */
    }
.modal-dialog {
    max-width: 60%; /* ajusta el ancho del modal */
    margin: 1.75rem auto; /* centra el modal en la pantalla */
}

.modal-content {
    height: 65vh; /* ajusta la altura del modal */
}

/* Estilo para hacer que el campo de la derecha sea más alto */
.modal-body .form-group.col-md-6:nth-child(2) input {
    height: 140px; /* Altura ajustable según tus necesidades */
}
/* Estilo para separar el botón "Agregar Imagen" del input */
.modal-body .form-group.col-md-6:nth-child(2) input {
    margin-bottom: 20px; /* Ajusta el margen inferior del input */
}

.modal-body .form-group.col-md-6:nth-child(2) button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-header {
    text-align: center;
}
    /* Estilo para centrar el botón "Agregar Imagen" */
    .modal-body .form-group.col-md-6:nth-child(2) button {
    display: block;
    margin: 0 auto;
}
.form-control 
{
    border-radius: 10px;
    border-color: black;
}
.btn-dark
{
    border-radius: 8px;
}
.modal-content
{
    border-radius: 20px;
    background-color:rgb(245, 245, 245);
}
.add
{
    height: 40px;
}


