main{
    color: black;
}

.nav-item{
    margin-left: 15%;
    margin-top: 2%;
}
.donut{
    width: 100px;
    height: 100px;
}

.nav-link{
    color: black;
    padding: 0.5%;
}

#text-tittle{
    font-size: 190%;
    font-weight: bold;
    margin-top: 20%;
    text-align: center;
    color: black;
}
.img-fluid{
    border-radius: 50%;
    border-color: black;
}
.text-center{
    color: black;
    margin: 5%;
}
.pedidos{
    padding: 2%;
    font-size: small;
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
    background-color: #D9D9D9;
}
.graficos{
    border-radius: 20px;
    margin: 2%;
    padding: 1%;
    height: 450px;
    width: 600px;
}

.graficos3{
    height: 350px;
    border-radius: 20px;
}
h4{
    padding-left: 4%;
    padding-top: 4%;
}

.container1{
    border-radius: 5px;
    padding: 4%;
    margin: 8px;
}

.containerPedidos{
    border-radius: 20px;
    margin: 1%;
    
}