
.dynamic-iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.subnav { 
    border-radius: 10px;
}
#content 
{
    background-color:rgb(245, 245, 245);
    border-radius: 15px;
}
.sizebox{
    padding:10px;
}
.sizebox1{
    padding:20px;
}